[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "gammaFuncModel"]
	path = gammaFuncModel
	url = https://github.com/cran/gammaFuncModel
